{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.13"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
